<?xml version="1.0"?>
<config>
    <modules>
        <Lioce_CatalogSync>
            <version>0.1.0</version>
        </Lioce_CatalogSync>
    </modules>
	<global>
		<helpers>
			<catalogsync>
				<class>Lioce_CatalogSync_Helper</class>
			</catalogsync>
		</helpers>
		<resources>
			<catalogsync_setup>
				<setup>
					<module>Lioce_CatalogSync</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</catalogsync_setup>
		</resources>
	</global>
	<frontend>
		<translate>
			<modules>
				<Lioce_CatalogSync>
					<files>
						<default>Lioce_CatalogSync.csv</default>
					</files>
				</Lioce_CatalogSync>
			</modules>
		</translate>
		<layout>
			<updates>
				<catalogsync>
					<file>catalogsync.xml</file>
				</catalogsync>
			</updates>
		</layout>
		<routers>
			<lioce_catalogsync>                  
				<use>standard</use>
				<args>
					<module>Lioce_CatalogSync</module>
					<frontName>catalogsync</frontName>
				</args>
			</lioce_catalogsync>
		</routers>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Lioce_CatalogSync>
					<files>
						<default>Lioce_CatalogSync.csv</default>
					</files>
				</Lioce_CatalogSync>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<catalog>
			<lioce_catalogsync>
				<lock_cron>0</lock_cron>
				<allow_products_without_image>0</allow_products_without_image>
				<allow_price_zero>0</allow_price_zero>
				<round_price_excess_fifty_cent>1</round_price_excess_fifty_cent>
			</lioce_catalogsync>
		</catalog>
	</default>
</config>
